body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Header_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1100px;
    height:80px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:86px;
}

.u1 {
    position:absolute;
    left:2px;
    top:32px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Header_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:33px;
    top:57px;
    width:150px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:50px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:961px;
    top:71px;
    width:89px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_normal {
    background-image: url('../Banner_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1100px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:46px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:50px;
    top:13px;
    width:672px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:644px;
    top:13px;
    width:153px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_menu {
    background-image: url('../Books_files/u11_menu.png');
}

.u11_menu {
    position:absolute;
    left:213px;
    top:66px;
    width:662px;
    height:34px;
}

#u11_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:659px;
    height:31px;
}

#u12 {
    position:absolute;
    left:3px;
    top:3px;
    width:652px;
    height:24px
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:90px;
    height:19px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:25px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u15_container {
    position:absolute;
    left:90px;
    top:0px;
    width:67px;
    height:19px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:25px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u17_container {
    position:absolute;
    left:157px;
    top:0px;
    width:120px;
    height:19px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:25px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:116px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u19_container {
    position:absolute;
    left:277px;
    top:0px;
    width:60px;
    height:19px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:66px;
    height:25px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:56px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u21_container {
    position:absolute;
    left:337px;
    top:0px;
    width:65px;
    height:19px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:25px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:61px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u23_container {
    position:absolute;
    left:402px;
    top:0px;
    width:95px;
    height:19px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:101px;
    height:25px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:91px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u25_container {
    position:absolute;
    left:497px;
    top:0px;
    width:81px;
    height:19px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:87px;
    height:25px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:77px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:578px;
    top:0px;
    width:69px;
    height:19px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:25px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:65px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:50px;
    top:160px;
    width:570px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:50px;
    top:967px;
    width:570px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Footer_files/u11_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:1040px;
    width:1100px;
    height:200px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1106px;
    height:206px;
}

.u32 {
    position:absolute;
    left:2px;
    top:92px;
    width:1096px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:50px;
    top:1070px;
    width:300px;
    height:60px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:750px;
    top:1070px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:750px;
    top:1090px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:750px;
    top:1110px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:750px;
    top:1130px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:750px;
    top:1150px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:750px;
    top:1170px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:565px;
    top:1070px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:565px;
    top:1090px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:565px;
    top:1110px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:565px;
    top:1130px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:565px;
    top:1150px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:400px;
    top:1070px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:400px;
    top:1090px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:400px;
    top:1110px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:400px;
    top:1130px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:400px;
    top:1150px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:400px;
    top:1170px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:400px;
    top:1190px;
    width:130px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:925px;
    top:1070px;
    width:125px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_container {
    position:absolute;
    left:925px;
    top:1165px;
    width:92px;
    height:26px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:92px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:88px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Books_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:50px;
    top:240px;
    width:200px;
    height:260px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u57 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:50px;
    top:515px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:50px;
    top:537px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Books_files/u56_normal.png');
}

.u60_container {
    position:absolute;
    left:400px;
    top:240px;
    width:200px;
    height:260px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u61 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:400px;
    top:515px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:400px;
    top:537px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Books_files/u56_normal.png');
}

.u64_container {
    position:absolute;
    left:50px;
    top:610px;
    width:200px;
    height:260px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u65 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:50px;
    top:885px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:50px;
    top:907px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Books_files/u56_normal.png');
}

.u68_container {
    position:absolute;
    left:400px;
    top:610px;
    width:200px;
    height:260px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:266px;
}

.u69 {
    position:absolute;
    left:2px;
    top:122px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:400px;
    top:885px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:400px;
    top:907px;
    width:300px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Books_files/Навигация_по_разделу__Help__u72_normal.png');
}

.u72_container {
    position:absolute;
    left:750px;
    top:170px;
    width:300px;
    height:180px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:186px;
}

.u73 {
    position:absolute;
    left:2px;
    top:82px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:770px;
    top:176px;
    width:260px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:770px;
    top:216px;
    width:260px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:770px;
    top:256px;
    width:260px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:770px;
    top:296px;
    width:260px;
    height:40px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

